body {
  background-color: black !important;
}

h1,
h5 {
  color: #ffffff;
}

p {
  color: #d7d7d7;
}

.home {
  padding-top: 10px;
  padding-left: 50px;
  height: 200px;
  width: 600px;
  /* border: 1px solid red; */
}

.home-desc {
  color: #ffffff;
  font-size: 50px;
  padding-bottom: 0px;
}

.home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.searchBar {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 40%;
  background-color: rgb(31, 31, 31);
  outline-color: black;
  color: #d7d7d7;
}

.listWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  background-color: black;
}

.productWrapper {
  margin: 40px;
  background-color: rgba(14, 14, 14, 0.8);
  padding: 15px;
  border-radius: 5%;
  overflow: visible;
  color: aliceblue;
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
}

.roductWrapper:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(210, 199, 218, 0.4);
}

.productWrapper p {
  text-align: center;
  overflow: hidden;
  color: aliceblue;
}

.detail {
  text-align: center;
}

.detail img {
  width: 300px;
}

.home button {
  margin: 15px;
  cursor: pointer;
}

header {
  background-color: black;
  display: flex;
  color: white;
  margin: 5px 0;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

header a:hover {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo {
  width: 10%;
  padding: 15px;
}

.navbar {
  position: sticky;
  height: 60px;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-content: left;
}

.netflix_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding-left: 50px;
}

.nav_right {
  position: static;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin: 10px 10px 10px 6px;
  padding: 8px 20px 8px 20px;
  font-size: 13px;
}

.btn-nav {
  margin: 10px 10px 10px 6px;
  padding: 8px 20px 8px 20px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.foot_main {
  color: rgb(161, 161, 161);
  margin-top: 70px;

  display: flex;
  width: 60%;
  flex-direction: row;
  height: 300px;
  font-size: 13px;
}

.links {
  text-decoration: none;
  color: rgb(161, 161, 161);
}
.links:hover {
  text-decoration: underline;
}

.center {
  justify-content: center;
}

.poster {
  width: 300px;
  height: auto;
}
